# 1. import pandas

In [1]:
import pandas as pd

# 2. Load data into pandas as a dataframe

In [2]:
df = pd.read_csv('train.csv', nrows=500)

**Kownledge**:  
1. **read_csv** is for csv file. Many functions can be used for other formats, for example **read_excel** is for xsl and xslx files.   
2. **nrows=500** means we only read the first 500 rows from the file. 
3. If you move your cursor between the parentheses (by clicking any character between the parentheses), then hold down the key **"shift"** and type **"tab"** for twice, you can get the information for all the arguments of read_csv. Set the arguments you need to change the way you want to load data.

# 3. Have a glance of the data

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

**Knowledge**: Again, you can use **shift + tab** to get more information about function head.

**Example**: Get names of columns

In [4]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

**Example**: Get indices

In [5]:
df.index

RangeIndex(start=0, stop=500, step=1)

<font color='red'>Assignment:</font> Get the number of rows and number of columns.

# 4. Get a slice of the dataframe

## 4.1 Get a column

**Example:** use dot

In [6]:
df.SalePrice.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

**Example:** use []

In [7]:
df['SalePrice'].head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

## 4.2 Get a few columns

In [8]:
df[['YearBuilt', 'CentralAir', 'GrLivArea', 'SalePrice']].head()

   YearBuilt CentralAir  GrLivArea  SalePrice
0       2003          Y       1710     208500
1       1976          Y       1262     181500
2       2001          Y       1786     223500
3       1915          Y       1717     140000
4       2000          Y       2198     250000

<font color='red'>Question:</font> What is the difference between **df["SalePrice"]** and **df[["SalePrice"]]**? Use **type** to find out.

In [13]:
type(df["SalePrice"])

pandas.core.series.Series

In [14]:
type(df[["SalePrice"]])

pandas.core.frame.DataFrame

<font color='blue'>Answer: </font> df["SalePrice"] is a series, while df[["SalePrice"]] is a dataframe.

## 4.3 Get rows

In [9]:
df.iloc[5:15,:]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000

## 4.4 Get a sub matrix

In [17]:
1==1 and 2==2

True

In [19]:
df.loc[5:15,"YrSold":"SalePrice"]

    YrSold SaleType SaleCondition  SalePrice
5     2009       WD        Normal     143000
6     2007       WD        Normal     307000
7     2009       WD        Normal     200000
8     2008       WD       Abnorml     129900
9     2008       WD        Normal     118000
10    2008       WD        Normal     129500
11    2006      New       Partial     345000
12    2008       WD        Normal     144000
13    2007      New       Partial     279500
14    2008       WD        Normal     157000
15    2007       WD        Normal     132000

<font color='red'>Question:</font> What is the difference between **iloc** and **loc**.

In [20]:
df.loc[1:8,"YrSold"]

1    2007
2    2008
3    2006
4    2008
5    2009
6    2007
7    2009
8    2008
Name: YrSold, dtype: int64

In [21]:
df.iloc[1:8,0]

1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: Id, dtype: int64

## 4.5 Get rows with filters

In [22]:
df[df.SaleCondition == 'Abnorml'].head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
19,20,20,RL,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000
38,39,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Abnorml,109000
40,41,20,RL,84.0,8658,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,12,2006,WD,Abnorml,160000

<font color='red'>Assignment:</font> Get a sub matrix with columns "YrSold", "Alley", and "SalePrice" and name it "df_new". Filter out the rows in which "Alley" values are "NaN". Hint: use "pandas.notnull()".

In [24]:
df.loc[1:15,"YrSold":"Alley"]

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]